{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "plugins": ["react", "jsx-a11y", "ignore-generated-and-nolint", "cypress"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
      "requireConfigFile": false,
      "ecmaVersion": "latest",
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "rules": {
    "react/prop-types": 0,
    "no-console": "warn",
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreUrls": true,
        "ignoreStrings": true
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "Plotly": "readonly"
  }
}
