{
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "plugins": ["ignore-generated-and-nolint"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "rules": {
    "react/prop-types": 0,
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreComments": true
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "Plotly": "readable"
  }
}
