node_modules
build
th/CMakeLists.txt
th/build.luarocks
dist/
visdom*.tgz
visdom.egg-info/
setup.cfg
py/visdom/static/fonts/
py/visdom/static/css/
py/visdom/static/js/*.min.js
py/visdom/static/js/mathjax-MathJax.js
py/visdom/static/js/sjcl.js
py/visdom/static/version.built
__pycache__/
py/visdom/static/js/layout_bin_packer.js
py/visdom/extra_deps/**/*
